<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My First Spring Boot App</title>
    <style>
            html {
                font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
                color: #404040;
                background-color: #d3d3d3;
            }
            body {
                padding: 5em;
            }
        </style>
</head>
<body>
<h1>Hello from Spring Boot! -- Hola desde SpringBoot !!</h1>
<p>This page is served at <span th:text="__$_{__tstamp}"></span></p>
<p>Página reservada para Facundo </p>
</body>
</html>